* {
    box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
background-color: darkslategrey;
color: lightgray;
}
  
select{
    font-size:1.3em;
}

.button{
    padding: 5px;
}
  
.button:hover {
    color: rgb(75, 14, 14);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.container {
max-width: 600px;
margin: 0 auto;
}

.error-message {
    color: rgb(243, 107, 107);
    font-weight: bold;
    font-size: 1.5em;
}
  
.hidden {
    display: none;
}

section{
    background-color: lightgray;
    color: rgb(18, 26, 26);
    padding: 20px 100px;
}